@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;800;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7));
}

.app{
  /* background-image: url('./assets/cold.jpg'); */
  max-width: 500px;
  margin: 0 auto;
  background-size: cover;
  background-position: bottom;
  transition: 0.4s ease-out;
}

main{
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7));
  padding: 25px;
}

.search-box{
  width: 100%;
  margin: 0 0 75px;
}

.search-bar{
  display: block;
  width: 100%;
  padding: 15px;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255,255,255,0.75);
  border-radius: 0 0 16px 16px;
  margin-top: -25px;

  box-shadow: 0px 5px rgba(0,0,0,0.2);
  
  color: #313131;
  font-size: 20px;

  transition: 0.4s ease;
}

.search-bar:focus{
  background-color: rgba(255,255,255,0.95);
}

.location{
  color: #ffffff;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50,50,50,0.75);
}

.date{
  color: #ffffff;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  text-shadow: 2px 2px rgba(50,50,50,0.75);
}

.weather-box{
  text-align: center;
}

.temp{
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255,255,255,0.2);
  border-radius: 16px;

  padding: 15px 25px;

  color: #ffffff;
  font-size: 100px;
  font-weight: 800;

  text-shadow: 3px 6px rgba(50,50,70,0.75);
  text-align: center;
  box-shadow: 3px 6px rgba(0,0,0,0.2);
}
.temp-unit:hover{
  /* color: rgba(255, 255, 255, 0.705); */
  text-shadow: 3px 6px rgba(2, 2, 251, 0.75);
}
.temp-range{
  font-size: 20px;
  font-weight: 400;
  text-shadow: none;
}
.weather{
  color: #ffffff;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50,50,70,0.75);
}
.desc{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.weather-icon{
  /* display: inline-block; */
  width: 40%;
  margin: -20px auto;
  align-content: center;
}

.weather-table{
  width: 100%;
  color: #ffffff;
  background-color: rgba(255,255,255,0.2);
  padding: 15px;
  border-radius: 5px;
}
td{
  height: 50px;
}
.weather-field{
  font-size: 16px;
  font-weight: 400;
}
.hourly-container{
  background-color: rgba(255,255,255,0.2);
  border-radius: 5px;
  width: auto;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  margin: 20px auto;
  padding: 5px 0;
}
.hourly-box{
  text-align: center;
  max-width: 60px;
  height: 100%;
  display: inline-block;
  flex-direction: column;
  color: #ffffff;
  font-size: 12px;
}
.hourly-icon-img{
  width: 100%;
}
.weekly-box{
  margin: 20px auto;
  padding: 5px 0;
  background-color: rgba(255,255,255,0.2);
  border-radius: 5px;
  color: #ffffff;
}